<!-- <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="card">
        <img src="{{p.Book_image.url}}" class="card-img-top" alt="...">
        </a>
        <div class=" ">
            <h5 class="card-title">{{p.Book_name}}</h5>
            <p class="card-text">Brand : {{p.Book_author}}</p>
            <p class="card-text">Brand : {{p.Book_Genres}}</p>
            <p class="card-text">{{p.Book_descripition}}</p>
            <p class="card-text">Price : {{p.Book_price}}</p>
        </div>
    </div>
</div> -->






    <div class="col">
      <div class="card">
        <img src="{{p.Book_image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{p.Book_name}}</h5>
          <p class="card-text">Brand : {{p.Book_author}}</p>
            <p class="card-text">Brand : {{p.Book_Genres}}</p>
            <p class="card-text">{{p.Book_descripition}}</p>
            <p class="card-text">Price : {{p.Book_price}}</p>

        </div>
      </div>
    </div>
