{% load static %}
    <!-- Navigation Section -->
    <section id="header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <div class="container">
                <a class="navbar-brand " href="#"><span style="color: red;">Paras</span>Bookwallah</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--  -->
                <form class="d-flex " role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-danger" type="submit">Search</button>
                </form>
                <!--  -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#Category">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#Special_offer">Special_offer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#contact">Contact</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link active" href="#Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#Logout">Logout</a>
                        </li> -->
                        {% if request.user.first_name %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'login' %}">{{request.user.first_name}}</a>
                            <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-link active" href="{% url 'login' %}">Login</a>
                            <a class="nav-link active" href="{% url 'register' %}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="nav-cart nav-item">
                        <a class="fa-solid fa-cart-plus nav-link" href="#Cart" style="color: red"></a>
                    </div>
                </div>
        </nav>
    </section>